{% set title = "Menu"|upper %}

{% set menuGoups = craft.entries().section('menu').type('heading').all() %}
{% set menuItems = craft.entries().section('menu').type('menuItem') %}
        
<div class="screen__content">
  <h2 class="screen__title">{{ title }}</h2>
    <div id="burgers" class="burger-group">
      
      {% for group in menuGoups %}
        <div class="burger-group-item">
          <div class="burger-group-title">
              <h2>{{ group.title }}</h2>
          </div>
          <div class="burger-group-item-list">
          {% for item in group.children %}
            {% set price = item.price %}
            <div class="burger-item">     
              <div style="display: flex; align-items: center; justify-content: center;">
                <small>{{ price ? '€ '~ price }}</small>
              </div>
              <div style="display: flex; align-items: center; justify-content: center;">
                <h2 class="burger-title">{{ item.title }}</h2>
                {% if item.extra %}<small>{{ item.extra ? ' - ' ~ item.extra }}</small>{% endif %}
              </div>
              <p class="burger-ingredients">{{ item.text }}</p>
            </div>
            {% endfor %}
            </div>
          </div>
        {% endfor %}
        
      </div>
  </div>
  